<h2>Template: Dinamicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form #form="ngForm">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre completo" name="name" [ngModel]="person.name" required>
                <div *ngIf="nameInvalid()" class="form-text text-danger">El nombre es obligatorio.</div>
            </div>

            <div class="mb-3">
                <label class="form-label">Agregar</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Agregar favorito" name="newgame" [(ngModel)]="newgame" (keyup.enter)="add()" required>
                    <button class="btn btn-outline-primary" type="button" (click)="add()">Button</button>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Juegos Favoritos</label>
                <div class="input-group mb-1" *ngFor="let game of person.favorites; let i = index" >                    
                    <input type="text" class="form-control" name="game_{{ i }}" [(ngModel)]="game.name" required>
                    <button class="btn btn-outline-danger" type="button" (click)="delete(i)">Eliminar</button>
                </div>
            </div>
            
            <button type="button" class="btn btn-primary float-end" [disabled]="form.invalid">Guardar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Persona</span>
        <pre>{{ person | json }}</pre>
    </div>
</div>