<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <!-- Name -->
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre del usuario" formControlName="name">
                <span *ngIf="campoInvalid('name')" class="form-text text-danger">Complete el nombre de usuario</span>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="a@b.c" formControlName="email">      
                <span *ngIf="campoInvalid('email')" class="form-text text-danger">{{ emailErrorMSG }}</span>          
            </div>

            <!-- Username -->
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Nickname del user" formControlName="username">  
                <span *ngIf="campoInvalid('username')" class="form-text text-danger">El username no puede ser strider</span>                        
            </div>
            
            <!-- Password -->
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">  
                <span *ngIf="campoInvalid('password')" class="form-text text-danger">La contraseña debe de ser mayor a 6 caracteres</span>              
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
                <label class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control" placeholder="Confirmar Contraseña" formControlName="cpassword">                
                <span *ngIf="campoInvalid('cpassword')" class="form-text text-danger">Las contraseñas deben ser iguales</span>
            </div>

            <button type="submit" class="btn btn-primary float-end" [disabled]="form.pending">Crear</button>
        </form>
    </div>
</div>

<h5>Valid</h5>
<pre>{{ form.valid }}</pre>

<h5>Status</h5>
<pre>{{ form.status }}</pre>

<h5>Pending</h5>
<pre>{{ form.pending }}</pre>

<h5>Erros</h5>
<pre>{{ form.errors | json }}</pre>

<h5>Name</h5>
<pre>{{ form.controls.name.errors | json }}</pre>

<h5>Email</h5>
<pre>{{ form.controls.email.errors | json }}</pre>

<h5>Username</h5>
<pre>{{ form.controls.username.errors | json }}</pre>

<h5>Password</h5>
<pre>{{ form.controls.password.errors | json }}</pre>

<h5>CPassword</h5>
<pre>{{ form.controls.cpassword.errors | json }}</pre>