<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form>
            <!-- Name -->
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre del usuario">
                <span class="form-text text-danger">Complete el nombre de usuario</span>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="a@b.c">                
            </div>

            <!-- Username -->
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Nickname del user">                
            </div>
            
            <!-- Password -->
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña">                
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
                <label class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control" placeholder="Confirmar Contraseña">                
            </div>
        </form>
    </div>
</div>