<h2>Reactive: Dinamicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre completo" formControlName="name">
                <div *ngIf="inputInvalid('name')" class="form-text text-danger">El nombre es obligatorio.</div>
            </div>

            <div class="mb-3">
                <label class="form-label">Agregar</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Agregar favorito" [formControl]="newFav" (keyup.enter)="addFav()">
                    <button class="btn btn-outline-primary" type="button" (click)="addFav()">Button</button>
                </div>
            </div>

            <div class="mb-3" formArrayName="favorites">
                <label class="form-label">Juegos Favoritos</label>
                <div class="input-group mb-1" *ngFor="let item of favoritesArr.controls; let i = index">  
                    <input type="text" class="form-control" [formControlName]="i">
                    <button class="btn btn-outline-danger" type="button" (click)="deleteFavorite(i)">Eliminar</button>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ form.valid }}</pre>

        <span>Value</span>
        <pre>{{ form.value | json }}</pre>

        <span>Agregar Juego</span>
        <pre>{{ newFav.valid }}</pre>
        <pre>{{ newFav.value }}</pre>
    </div>
</div>